<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>phpsqlite</title>
        <style>
            [v-cloak] {
                display: none !important;
            }
        </style>
        <link rel="stylesheet" href="./css/main.css" />
    </head>
    <body>
        <main>
            <button @click="loadNames()">laden</button>
            <input type="text" placeholder="name" v-model="input.name">
            <input type="text" placeholder="first" v-model="input.first">
            <input type="text" placeholder="second" v-model="input.second">
            <button @click="addName()">hinzufügen</button>
            <input type="text" placeholder="id" v-model="input.putId">
            <button @click="updateName()">name = broseph</button>
            <input type="text" placeholder="id" v-model="input.deleteId">
            <button @click="deleteName()">löschen</button>
            <button @click="deleteNames()">alle</button>

            <p v-for="name in names" v-cloak>
                {{ `${name.name} ist ${name.first} und ${name.second} - ${name.id}` }}
            </p>
        </main>

        <script src="./js/vendor.js" charset="utf-8"></script>
        <script src="./js/main.js" charset="utf-8"></script>
    </body>
</html>
